body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-gradient {
  width: 5rem;
  height: 5rem;
}
code {
  color: #3c5179;
}

.text-anim {
  padding-bottom: 10px;
  overflow: hidden;
  border-right: 0.1em solid #fff;
  white-space: nowrap;
  margin: 0 auto 20px;
  animation: typing 3.5s steps(40, end) 5s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
  animation-delay: 2s;
  height: 80px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #fff;
  }
  to {
    border-right-color: transparent;
  }
}
