.slow-spin {
  -webkit-animation: fa-spin 5s infinite linear;
  animation: fa-spin 5s infinite linear;
  transition: 1s ease;
  width: 200px;
  height: 200px;
}

.slow-spin:hover {
  -webkit-animation: fa-spin 0.0002s infinite linear;
  animation: fa-spin 0.0002s infinite linear;
  transform: scale(2.5);
}

.zoom {
  animation: zoom 1s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(10, 10);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}
