.slow-spin {
  -webkit-animation: fa-spin 5s infinite linear;
  animation: fa-spin 5s infinite linear;
  transition: 1s ease;
  width: 200px;
  height: 200px;
}

.slow-spin:hover {
  -webkit-animation: fa-spin 0.0002s infinite linear;
  animation: fa-spin 0.0002s infinite linear;
  transform: scale(2.5);
}
